<div class="main-block">
	<top-banner></top-banner>

	<div class="card w-75 about-card">
		<div class="card-body">
		  <h5 class="card-title">About</h5>
		  <p class="card-text">This website was build with Angular and Spring-boot.</p>
		  <a href="https://github.com/mateuszbugaj/fewgames" class="btn btn-secondary">Source code</a>
		</div>
	  </div>

	<game [gameCode]="snakeGame"></game>
	<game [gameCode]="asteroids"></game>

	<div class="foot-note">
		<hr>
		<h6>Made by Mateusz Bugaj</h6>
		<a href="https://mateuszbugaj.github.io/">mateuszbugaj.github.io</a>
		<p>2020</p>
	</div>

</div>






