<div style="background-color:blanchedalmond; width: 800px; margin: auto; padding-bottom: 40px;">
	<top-banner></top-banner>

	<div class="card w-75" style="margin: auto; margin-bottom: 20px; margin-top: 20px; float: none">
		<div class="card-body">
		  <h5 class="card-title">Page overwiev</h5>
		  <p class="card-text">Quick explanation of how this website was build using Spring-boot, Spring Security and Angular</p>
		  <a href="https://mateuszbugaj.github.io/" class="btn btn-secondary">Click here</a>
		</div>
	  </div>

	<game [gameCode]="snakeGame"></game>
	<game [gameCode]="asteroids"></game>


	<div style="margin: auto; padding-top: 150px; padding-left: 40px; padding-right: 40px; margin-bottom: -40px;">
		<hr>
		<h6>Made by Mateusz Bugaj</h6>
		<a href="https://mateuszbugaj.github.io/">mateuszbugaj.github.io</a>
		<p>2020</p>
	</div>

</div>






